# Sem_1_Task

In [1]:
import pandas as pd

## Задание 1.
1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
4. Посмотреть на описание признаков и на их содержание

In [3]:
df = pd.read_csv('./laptop_price.csv', sep = ',', encoding = 'windows-1251')
df.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

## Задание 2.
Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и поизучайте их

In [123]:
df.dtypes

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

In [124]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [125]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## Задание 3.
Ответьте на несколько вопросов
- 3.1 Ноутбуков от какой компании больше всего в наборе
данных?
- 3.2 Какая минимальная и максимальная стоимость у
ноутбуков в данных?
- 3.3 Какой самый дорогой ноутбук в данных?<br>
Выведите все характеристики только по этому ноутбуку<br>
Если таких ноутбуков несколько, то выводите их всех

In [126]:
df['Company'].value_counts().head(1)

Company
Dell    297
Name: count, dtype: int64

In [127]:
df['Price_euros'].max()

6099.0

In [128]:
df['Price_euros'].min()

174.0

In [129]:
df.sort_values(['Price_euros'], ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

## Задание 4.
Ответьте на несколько вопросов
- 4.1 Найдите ноутбуки с самой маленькой диагональю в
данных?
Выведите только следующие характеристики:
1. Компания
2. Типа ноутбука
3. Диагональ
4. Стоимость
Если таких ноутбуков несколько, то выводите их всех

In [131]:
df[df['Inches'] == df['Inches'].min()][['Company','TypeName','Inches','Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

- 4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [137]:
df[df['Company']=='HP'][['Price_euros']].max()

Price_euros    4389.0
dtype: float64

- 4.3 Как много ноутбуков Ultrabook с 8GB RAM?<br>
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении
относительно всех ультрабуков

In [184]:
df[(df['Ram'] == '8GB') & (df['TypeName']=='Ultrabook')]['Company'].shape[0]

140

In [197]:
df[df['TypeName'] == 'Ultrabook']['Ram'].value_counts(normalize=True)

Ram
8GB     0.714286
16GB    0.183673
4GB     0.071429
12GB    0.015306
24GB    0.005102
32GB    0.005102
6GB     0.005102
Name: proportion, dtype: float64

## Задание 5.
- 5.1 Выберите ноутбук клиенту<br>
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в
стоимости до 500 евро, сколько у него вариантов?

In [198]:
df[(df['Ram'] == '8GB') | (df['Ram'] == '16GB')][(df['OpSys'] == 'Windows 10') & (df['Price_euros'] < 500)].shape[0]

C:\Users\mrrom\AppData\Local\Temp\ipykernel_19880\2555270600.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df['Ram'] == '8GB') | (df['Ram'] == '16GB')][(df['OpSys'] == 'Windows 10') & (df['Price_euros'] < 500)].shape[0]

13

- 5.2 Выберите ноутбук клиенту<br>
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX
1050 Ti и главное не с диагональю 15.6.<br> В какой ценовой категории вышли
подобные ноутбуки?

In [218]:
df[(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti')][df['Inches'] != 15.6][['Company','Gpu','Price_euros']]

C:\Users\mrrom\AppData\Local\Temp\ipykernel_19880\1031620086.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti')][df['Inches'] != 15.6][['Company','Gpu','Price_euros']]

     Company                         Gpu  Price_euros
330      MSI  Nvidia GeForce GTX 1050 Ti      1199.00
393      MSI  Nvidia GeForce GTX 1050 Ti      1349.00
724      MSI  Nvidia GeForce GTX 1050 Ti      1348.48
917      MSI  Nvidia GeForce GTX 1050 Ti      1599.00
1156     MSI  Nvidia GeForce GTX 1050 Ti      1492.80

- 5.3 Что дешевле?<br>
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel
Core i7 7600U 2.8GHz?

In [231]:
df[df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean()

1760.4084246575342

In [236]:
df[df['Cpu'] == 'Intel Core i7 7600U 2.8GHz'][['Price_euros']].mean()

Price_euros    1915.710769
dtype: float64

## Задание 6.
Найдите самый легкий ноутбук<br>
Но обратите внимание на тип и представление данных в признаке<br>
Weight, если что, замените в строке 'kg' на пустую строку через<br>
метод .str.replace()

In [5]:
df.head(1)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69

In [49]:
df.sort_values(['Weight']).head(4)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1126,1141,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69kg,479.00
1114,1129,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69kg,549.00
1082,1097,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69kg,646.27
50,51,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69kg,319.00